<div class="container pt-4 h-100">
  <div ngbAccordion>
    <div ngbAccordionItem>
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton>About this Program</button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>
            <a href="https://github.com/blathers16/interactive-cyoa-verifier">Github</a>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  @if (clearPicker) {
    <input
      class="form-control my-4"
      id="input"
      type="file"
      (change)="process($event)"
      multiple
      accept="image/jpeg,image/png,application/json,application/javascript,text/html"
    />
  } @else {
    <input
      class="form-control my-4"
      id="input"
      type="file"
      (change)="process($event)"
      multiple
      accept="image/jpeg,image/png,application/json,application/javascript,text/html"
    />
  }
  <div class="d-flex justify-content-between">
    <button type="button" class="btn my-button mb-3" (click)="toggleClearPicker()">Reset File Picker</button>
  </div>
  @if (loading) {
    <div class="d-flex justify-content-center">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  } @else {
    @if (activated.length && showActivatedAlert) {
      <div class="mb-5">
        <ngb-alert type="warning" (closed)="closeActivatedAlert()">Warning! Some choices are activated!</ngb-alert>
        <div class="mb-2">Activated Choices:</div>
        @for (item of activated; track item) {
          @if (getChoice(item)) {
            <ngb-alert type="warning">{{ getChoice(item)!.title }}</ngb-alert>
          } @else {
            <ngb-alert type="danger">Error! Choice with id "{{ item }}" not in cyoa.</ngb-alert>
          }
        }
        <div>
          Check if the above choices were activated intentionally. If not, you can use the clear "clean selected
          choices" tool in the CYOA creator.
        </div>
      </div>
    }
    @if (hasDuplicateChoices) {
      <div class="mb-5">
        <ngb-alert type="danger">Error! There are duplicate choices.</ngb-alert>
        <div class="mb-2">Duplicate Choices:</div>
        @for (duplicate of duplicateChoices; track duplicate.id) {
          <ngb-alert type="danger"
            >Error! Choice with title "{{ duplicate.title }}" and ID "{{ duplicate.id }}" in Row(s) with (title, id)
            @for (row of getRowForChoice(duplicate.id); track row.id) {
              ("{{ row.title }}",&nbsp;"{{ row.id }}")&nbsp;
            }
            is in the CYOA more than once by ID.</ngb-alert
          >
        }
        <div>
          This error should probably never occur. Most likely you manually modified a choice id or cloned a choice and
          forgot to change the id. Contact me on github if you have a valid usecase for duplicate choice IDs.
        </div>
      </div>
    }
    @if (hasRequirementMissingChoice || hasRequirementNotSpecified || hasRequirementPointTypeNotSpecified) {
      <div class="mb-5">
        @if (hasRequirementMissingChoice) {
          <ngb-alert type="danger"
            >Error! There is at least one requirement specifing a choice that does not exist.</ngb-alert
          >
        }
        @if (hasRequirementNotSpecified) {
          <ngb-alert type="danger">Error! There is at least one requirement that does not specify a choice.</ngb-alert>
        }
        @if (hasRequirementPointTypeNotSpecified) {
          <ngb-alert type="danger"
            >Error! There is at least one point type requirement where the point type has not been selected.</ngb-alert
          >
        }
        <div class="mb-2">Rows with Requirement Errors:</div>
        @for (row of rowsWithBadRequirements; track row.id) {
          <ngb-alert type="danger"
            >Error! Row with title "{{ row.title }}"" and ID "{{ row.id }}" has at least one invalid
            requirement.</ngb-alert
          >
          @for (requirement of row.requireds; track requirement.id) {
            @if (!validateRequirementChoiceExists(requirement)) {
              <div>One of the following choices does not exist:</div>
              <ul>
                @if (requirement.reqId) {
                  <li>"{{ requirement.reqId }}"</li>
                }
                @if (requirement.reqId1) {
                  <li>"{{ requirement.reqId1 }}"</li>
                }
                @if (requirement.reqId2) {
                  <li>"{{ requirement.reqId2 }}"</li>
                }
                @if (requirement.reqId3) {
                  <li>"{{ requirement.reqId3 }}"</li>
                }
                @for (orReq of requirement.orRequired; track orReq.req) {
                  @if (orReq.req) {
                    <li>"{{ orReq.req }}"</li>
                  }
                }
              </ul>
            }
            @if (!validateRequirementNoWhitespace(requirement)) {
              <div>One of the following Choice IDs in a requirement on this Row has whitespace:</div>
              <ul>
                @if (requirement.reqId !== requirement.reqId.trim()) {
                  <li>"{{ requirement.reqId }}"</li>
                }
                @if (requirement.reqId1 !== requirement.reqId1.trim()) {
                  <li>"{{ requirement.reqId1 }}"</li>
                }
                @if (requirement.reqId2 !== requirement.reqId2.trim()) {
                  <li>"{{ requirement.reqId2 }}"</li>
                }
                @if (requirement.reqId3 !== requirement.reqId3.trim()) {
                  <li>"{{ requirement.reqId3 }}"</li>
                }
                @for (orReq of requirement.orRequired; track orReq.req) {
                  @if (orReq.req !== orReq.req.trim()) {
                    <li>"{{ orReq.req }}"</li>
                  }
                }
              </ul>
            }
            @if (!validateRequirementSpecified(requirement)) {
              <div class="mb-2">This row has a requirement that does not specify a choice.</div>
            }
            @if (!validateRequirementPointsSpecified(requirement)) {
              <div class="mb-2">This row has a requirement that does not specify a point type.</div>
            }
            @for (requirement of requirement.requireds; track requirement.id) {
              @if (!validateRequirementChoiceExists(requirement)) {
                <div>One of the following choices in a nested requirement on this row does not exist:</div>
                <ul>
                  @if (requirement.reqId) {
                    <li>"{{ requirement.reqId }}"</li>
                  }
                  @if (requirement.reqId1) {
                    <li>"{{ requirement.reqId1 }}"</li>
                  }
                  @if (requirement.reqId2) {
                    <li>"{{ requirement.reqId2 }}"</li>
                  }
                  @if (requirement.reqId3) {
                    <li>"{{ requirement.reqId3 }}"</li>
                  }
                  @for (orReq of requirement.orRequired; track orReq.req) {
                    @if (orReq.req) {
                      <li>"{{ orReq.req }}"</li>
                    }
                  }
                </ul>
              }
              @if (!validateRequirementNoWhitespace(requirement)) {
                <div>One of the following Choice IDs in a nested requirement on this Row has whitespace:</div>
                <ul>
                  @if (requirement.reqId !== requirement.reqId.trim()) {
                    <li>"{{ requirement.reqId }}"</li>
                  }
                  @if (requirement.reqId1 !== requirement.reqId1.trim()) {
                    <li>"{{ requirement.reqId1 }}"</li>
                  }
                  @if (requirement.reqId2 !== requirement.reqId2.trim()) {
                    <li>"{{ requirement.reqId2 }}"</li>
                  }
                  @if (requirement.reqId3 !== requirement.reqId3.trim()) {
                    <li>"{{ requirement.reqId3 }}"</li>
                  }
                  @for (orReq of requirement.orRequired; track orReq.req) {
                    @if (orReq.req !== orReq.req.trim()) {
                      <li>"{{ orReq.req }}"</li>
                    }
                  }
                </ul>
              }
              @if (!validateRequirementSpecified(requirement)) {
                <div class="mb-2">This row has a nested requirement that does not specify a choice.</div>
              }
              @if (!validateRequirementPointsSpecified(requirement)) {
                <div class="mb-2">This row has a nested requirement that does not specify a point type.</div>
              }
            }
          }
        }
        @for (choice of choicesWithBadRequirements; track choice.id) {
          <ngb-alert type="danger"
            >Error! Choice with title "{{ choice.title }}" and ID "{{ choice.id }}" in Row(s) with (title, id)
            @for (row of getRowForChoice(choice.id); track row.id) {
              ("{{ row.title }}",&nbsp;"{{ row.id }}")&nbsp;
            }
            has at least one invalid requirement.</ngb-alert
          >
          @for (requirement of choice.requireds; track requirement.id) {
            @if (!validateRequirementChoiceExists(requirement)) {
              <div>One of the following choices in a requirement does not exist:</div>
              <ul>
                @if (requirement.reqId) {
                  <li>"{{ requirement.reqId }}"</li>
                }
                @if (requirement.reqId1) {
                  <li>"{{ requirement.reqId1 }}"</li>
                }
                @if (requirement.reqId2) {
                  <li>"{{ requirement.reqId2 }}"</li>
                }
                @if (requirement.reqId3) {
                  <li>"{{ requirement.reqId3 }}"</li>
                }
                @for (orReq of requirement.orRequired; track orReq.req) {
                  @if (orReq.req) {
                    <li>"{{ orReq.req }}"</li>
                  }
                }
              </ul>
            }
            @if (!validateRequirementNoWhitespace(requirement)) {
              <div>One of the following Choice IDs in a requirement on this Choice has whitespace:</div>
              <ul>
                @if (requirement.reqId !== requirement.reqId.trim()) {
                  <li>"{{ requirement.reqId }}"</li>
                }
                @if (requirement.reqId1 !== requirement.reqId1.trim()) {
                  <li>"{{ requirement.reqId1 }}"</li>
                }
                @if (requirement.reqId2 !== requirement.reqId2.trim()) {
                  <li>"{{ requirement.reqId2 }}"</li>
                }
                @if (requirement.reqId3 !== requirement.reqId3.trim()) {
                  <li>"{{ requirement.reqId3 }}"</li>
                }
                @for (orReq of requirement.orRequired; track orReq.req) {
                  @if (orReq.req !== orReq.req.trim()) {
                    <li>"{{ orReq.req }}"</li>
                  }
                }
              </ul>
            }
            @if (!validateRequirementSpecified(requirement)) {
              <div class="mb-2">This choice has a requirement that does not specify a choice.</div>
            }
            @if (!validateRequirementPointsSpecified(requirement)) {
              <div class="mb-2">This choice has a requirement that does not specify a point type.</div>
            }
            @for (requirement of requirement.requireds; track requirement.id) {
              @if (!validateRequirementChoiceExists(requirement)) {
                <div>One of the following choices in a nested requirement does not exist:</div>
                <ul>
                  @if (requirement.reqId) {
                    <li>"{{ requirement.reqId }}"</li>
                  }
                  @if (requirement.reqId1) {
                    <li>"{{ requirement.reqId1 }}"</li>
                  }
                  @if (requirement.reqId2) {
                    <li>"{{ requirement.reqId2 }}"</li>
                  }
                  @if (requirement.reqId3) {
                    <li>"{{ requirement.reqId3 }}"</li>
                  }
                  @for (orReq of requirement.orRequired; track orReq.req) {
                    @if (orReq.req) {
                      <li>"{{ orReq.req }}"</li>
                    }
                  }
                </ul>
              }
              @if (!validateRequirementNoWhitespace(requirement)) {
                <div>One of the following Choice IDs in a nested requirement on this Choice has whitespace:</div>
                <ul>
                  @if (requirement.reqId !== requirement.reqId.trim()) {
                    <li>"{{ requirement.reqId }}"</li>
                  }
                  @if (requirement.reqId1 !== requirement.reqId1.trim()) {
                    <li>"{{ requirement.reqId1 }}"</li>
                  }
                  @if (requirement.reqId2 !== requirement.reqId2.trim()) {
                    <li>"{{ requirement.reqId2 }}"</li>
                  }
                  @if (requirement.reqId3 !== requirement.reqId3.trim()) {
                    <li>"{{ requirement.reqId3 }}"</li>
                  }
                  @for (orReq of requirement.orRequired; track orReq.req) {
                    @if (orReq.req !== orReq.req.trim()) {
                      <li>"{{ orReq.req }}"</li>
                    }
                  }
                </ul>
              }
              @if (!validateRequirementSpecified(requirement)) {
                <div class="mb-2">This choice has a nested requirement that does not specify a choice.</div>
              }
              @if (!validateRequirementPointsSpecified(requirement)) {
                <div class="mb-2">This choice has a nested requirement that does not specify a point type.</div>
              }
            }
          }
        }
        <div>
          Check all requirements on the above rows and choices. Make sure to re-verify the CYOA after making
          corrections.
        </div>
      </div>
    }
    @if (hasNonNestableRequirement) {
      <div class="mb-5">
        <ngb-alert type="warning"
          >Warning! One or more requirements is of the legacy type and lacks nestability.</ngb-alert
        >
        @if (rowsWithNonNestableRequirements.length) {
          <div class="mb-2">The following Row(s) have requirement(s) that lack support for nesting.</div>
          @for (row of rowsWithNonNestableRequirements; track row.id) {
            <ngb-alert type="warning"
              >Warning! Row with id "{{ row.id }}" and title "{{ row.title }}" has at least one legacy
              requiremnt.</ngb-alert
            >
          }
        }
        @if (choicesWithNonNestableRequirements.length) {
          <div class="mb-2">The following Choices(s) have requirement(s) that lack support for nesting.</div>
          @for (choice of choicesWithNonNestableRequirements; track choice.id) {
            <ngb-alert type="warning"
              >Warning! Choice with id "{{ choice.id }}" and title "{{ choice.title }}" in Row(s) with (title, id)
              @for (row of getRowForChoice(choice.id); track row.id) {
                ("{{ row.title }}",&nbsp;"{{ row.id }}")&nbsp;
              }
              has at least one legacy requiremnt.</ngb-alert
            >
          }
        }
        <div>
          To fix this, delete and recreate the legacy requirement. You can confirm if a requirement is of the legacy
          type by attempting to add a requirement to it. If nothing happens, the requirement is of the legacy type.
        </div>
      </div>
    }
    @if (hasScoreWithoutPointType) {
      <div class="mb-5">
        <ngb-alert type="danger">Error! One or more scores has not had a point type selected.</ngb-alert>
        @for (choice of choicesWithBadScores; track choice.id) {
          <ngb-alert type="danger"
            >Error! Choice with title "{{ choice.title }}" and ID "{{ choice.id }}" in Row(s) with (title, id)
            @for (row of getRowForChoice(choice.id); track row.id) {
              ("{{ row.title }}",&nbsp;"{{ row.id }}")&nbsp;
            }
            at least one score with a missing point type.</ngb-alert
          >
        }
      </div>
    }
  }
</div>
